@import '../utils/vars';
@import "../utils/mixins";

.make-money {
  &__content {
    box-sizing: border-box;
    padding-top: 10rem;
    position: relative;
    overflow: hidden;

    @include onTablet {
      padding-top: 200px;
    }

    @include onDesktop {
      overflow: visible;
    }
  }

  &__banan-bg {
    box-sizing: border-box;

    max-width: 48rem;
    width: 100%;

    z-index: 1;
    position: absolute;
    top: 46rem;

    @include onTablet {
      max-width: 25rem;
      // right: -10rem;
      top: 25rem;
      right: 0;
    }

    @include onSmallDesktop {
      max-width: 48rem;
      right: -10rem;
    }

    @include onDesktop {
      top: 37rem;
    }
  }

  &__dev-bg {
    max-width: 45rem;
    width: 100%;

    position: absolute;
    bottom: 22rem;

    @include onTablet {
      max-width: 25rem;
      bottom: -20rem;
      left: 0;
      height: 100%;
      // left: -12rem;
    }

    @include onSmallDesktop {
      max-width: 45rem;
    };

    @include onDesktop {
      left: -12rem;
      bottom: -34rem;
    }
  }

  &__title {
    z-index: 2;
    position: relative;
    margin-bottom: 4rem;

    @include onTablet {
      margin-bottom: 6rem;
    }

    @include onSmallDesktop {
      padding-left: 2rem;
    }
  }

  &__img {
    max-width: 25rem;
    width: 100%;
    margin-bottom: 2rem;

    &--2 {
      height: 27rem;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    position: relative;
    z-index: 2;

    @include onTablet {
      display: grid;
      grid-template-columns: (2, 1fr);
      grid-template-rows: (3, 1fr);
      column-gap: 3rem;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &--1 {

      @include onTablet {
        grid-column: 1;
        grid-row: 1;
        padding-right: 6rem;

        justify-self: flex-end;
        text-align: left;
      }
    }

    &--2 {
      text-align: right;

      @include onTablet {
        grid-column: 2;
        grid-row: 2;
        justify-self: center;


        margin-top: -20rem;
        text-align: right;
      }

      @include onSmallDesktop {
        margin-top: -13rem;
      }
    }

    &--3 {

      @include onTablet {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;


        margin-top: -13rem;
        text-align: right;
      }

      @include onSmallDesktop {
        margin-top: -13rem;
      }

    }
  }

  &__step-info {
    margin: 0;

    display: block;
    max-width: 22rem;
    width: 100%;

    color: $white-text-color;
    font-family: $fira-code;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.2px;

    &--2 {

      @include onTablet {
        align-self: flex-end;
      }
    }
  }

  &__button {
    padding: 1.5rem 4.5rem;

    background: url('../../images/button.svg');
    background-size: cover;
    background-position: center;

    border: none;

    font-family: $fira-code;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.44px;

    cursor: pointer;

    &:hover {
      color: $white-text-color;
      padding: 1.5rem 4.5rem;

      background: url('../../images/button_hover.svg');
      background-size: cover;
      background-position: center;
    }

    &--position {
      display: block;
      margin-top: -5rem;

      @include onTablet {
        display: block;

        position: absolute;
        bottom: 4rem;
        right: 0;
      }

      @include onSmallDesktop {
        bottom: 4rem;
        right: 14rem;
      }
    }
  }
}
