@import '../utils/vars';
@import '../utils/mixins';

.stack-page {
  &__content {
    padding-top: 10rem;

    @include onTablet {
      padding-top: 250px;
    }
  }

  &__title {
    display: block;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
}

.grid-stack {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(25, 6rem);

  @include onTablet {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, 6rem);
  }

  @include onSmallDesktop {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(9, 6rem);
  }

  &__direction {
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid $stack-gray-color;
    border-bottom: 1px solid $stack-gray-color;

    color: $stack-gray-color;
    text-align: center;
    font-family: $sugo-pro-display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.16px;
    text-transform: uppercase;
  }

  &__logo-img {
    width: 2.5rem;
    height: 100%;
  }

  &__top-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 7rem;
  }

  &__left-shadow {
    position: absolute;
    left: 0;
    width: 7rem;
    height: 100%;
  }

  &__right-shadow {
    position: absolute;
    right: 0;
    width: 7rem;
    height: 100%;
  }

  &__bottom-shadow {
    position: absolute;
    bottom: 0;
  }

  &__field {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;

    border: 1px solid $stack-gray-color;
    border-left: none;
    border-top: none;

    color: $white-text-color;
    font-size: 1rem;
    font-family: $fira-code;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;

    //row-1
    &--position-1-1 {
      grid-column: 1;
      grid-row: 1;
    }

    &--position-1-2_3 {
      border-left: 1px solid $stack-gray-color;
      grid-column: 2 / 4;
      grid-row: 1;
    }

    &--position-1-4 {
      border-left: none;
      grid-column: 4;
      grid-row: 1;
    }

    &--position-1-5 {
      grid-column: 5;
      grid-row: 1;
    }

    &--position-1-6_7 {
      grid-column: 6 / 8;
      grid-row: 1;
    }

    &--position-1-8 {
      grid-column: 5;
      grid-row: 1;

      @include onTablet {
        grid-column: 8;
        grid-row: 1;
      }
    }

    &--position-1-9_10 {
      display: none;

      @include onSmallDesktop {
        display: block;
        grid-column: 9 / 11;
        grid-row: 1;
      }
    }

    &--position-1-11 {
      grid-column: 5;
      grid-row: 6;

      @include onTablet {
        display: none;
      }

      @include onSmallDesktop {
        display: block;
        grid-column: 11;
        grid-row: 1;
      }
    }

    &--position-1-12 {
      grid-column: 5;
      grid-row: 7;

      @include onTablet {
        display: none;
      }

      @include onSmallDesktop {
        display: block;
        grid-column: 12;
        grid-row: 1;
      }
    }

    &--position-1-13_14 {
      display: none;

      @include onSmallDesktop {
        display: block;
        grid-column: 13 / 15;
        grid-row: 1;
      }
    }

    &--position-1-15 {
      grid-column: 5;
      grid-row: 8;

      @include onTablet {
        display: none;
      }

      @include onSmallDesktop {
        display: block;
        grid-column: 15;
        grid-row: 1;
      }
    }



    //row-2
    &--position-2-1 {
      grid-column: 1;
      grid-row: 2;
    }

    &--position-2-2_3 {
      grid-column: 2 / 4;
      grid-row: 2;
    }

    &--position-2-4 {
      border-left: none;
      grid-column: 4;
      grid-row: 2;
    }

    &--position-2-5 {
      grid-column: 5;
      grid-row: 2;
    }

    &--position-2-6_7 {
      grid-column: 6 / 8;
      grid-row: 2;
    }

    &--position-2-8 {
      grid-column: 5;
      grid-row: 2;

      @include onTablet {
        grid-column: 8;
        grid-row: 2;
      }
    }

    &--position-2-9_10 {
      grid-column: 2 / 4;
      grid-row: 9;

      @include onTablet {
        grid-column: 2 / 4;
        grid-row: 6;
      }

      @include onSmallDesktop {
        grid-column: 9 / 11;
        grid-row: 2;
      }
    }

    &--position-2-11 {
      grid-column: 4;
      grid-row: 9;

      @include onTablet {
        grid-column: 4;
        grid-row: 6;
      }

      @include onSmallDesktop {
        grid-column: 11;
        grid-row: 2;
      }
    }

    &--position-2-12 {
      grid-column: 5;
      grid-row: 9;

      @include onTablet {
        grid-column: 5;
        grid-row: 6;
      }
      
      @include onSmallDesktop {
        grid-column: 12;
        grid-row: 2;
      }
    }

    &--position-2-13_14 {
      display: none;

      @include onTablet {
        display: block;
        grid-column: 6 / 8;
        grid-row: 6;
      }

      @include onSmallDesktop {
        grid-column: 13 / 15;
        grid-row: 2;
      }
    }

    &--position-2-15 {
      grid-column: 1;
      grid-row: 9;

      @include onTablet {
        grid-column: 8;
        grid-row: 6;
      }

      @include onSmallDesktop {
        grid-column: 15;
        grid-row: 2;
      }
    }



    //row 3
    &--position-3-1 {
      grid-column: 1;
      grid-row: 3;
    }

    &--position-3-2 {
      grid-column: 2;
      grid-row: 3;
    }

    &--position-3-3_4 {
      grid-column: 3 / 5;
      grid-row: 3;
    }

    &--position-3-5 {
      grid-column: 2;
      grid-row: 6;

      @include onTablet {
        grid-column: 5;
        grid-row: 3;
      }
    }

    &--position-3-6_7 {
      grid-column: 3 / 5;
      grid-row: 6;

      @include onTablet {
        grid-column: 6 / 8;
        grid-row: 3;
      }
    }

    &--position-3-8 {
      grid-column: 5;
      grid-row: 3;

      @include onTablet {
        grid-column: 8;
        grid-row: 3;
      }
    }

    &--position-3-9 {
      grid-column: 2;
      grid-row: 10;

      @include onTablet {
        grid-column: 2;
        grid-row: 7;
      }

      @include onSmallDesktop {
        grid-column: 9;
        grid-row: 3;
      }
    }

    &--position-3-10_11 {
      grid-column: 3 / 5;
      grid-row: 10;

      @include onTablet {
        grid-column: 3 / 5;
        grid-row: 7;
      }

      @include onSmallDesktop {
        grid-column: 10 / 12;
        grid-row: 3;
      }
    }

    &--position-3-12 {
      grid-column: 2;
      grid-row: 11;

      @include onTablet {
        grid-column: 5;
        grid-row: 7;
      }

      @include onSmallDesktop {
        grid-column: 12;
        grid-row: 3;
      }
    }

    &--position-3-13_14 {
      grid-column: 3 / 5;
      grid-row: 11;

      @include onTablet {
        grid-column: 6 / 8;
        grid-row: 7;
      }

      @include onSmallDesktop {
        grid-column: 13 / 15;
        grid-row: 3;
      }
    }

    &--position-3-15 {
      grid-column: 5;
      grid-row: 10;

      @include onTablet {
        grid-column: 8;
        grid-row: 7;
      }

      @include onSmallDesktop {
        grid-column: 15;
        grid-row: 3;
      }
    }



    //row 4
    &--position-4-1 {
      grid-column: 1;
      grid-row: 4;
    }

    &--position-4-2 {
      grid-column: 2;
      grid-row: 4;
    }

    &--position-4-3_4 {
      grid-column: 3 / 5;
      grid-row: 4;
    }

    &--position-4-5 {
      grid-column: 2;
      grid-row: 7;

      @include onTablet {
        grid-column: 5;
        grid-row: 4;
      }
    }

    &--position-4-6_7 {
      grid-column: 3 / 5;
      grid-row: 7;

      @include onTablet {
        grid-column: 6 / 8;
        grid-row: 4;
      }
    }

    &--position-4-8 {
      grid-column: 5;
      grid-row: 4;

      @include onTablet {
        grid-column: 8;
        grid-row: 4;
      }
    }

    &--position-4-9 {
      grid-column: 2;
      grid-row: 12;

      @include onTablet {
        grid-column: 2;
        grid-row: 8;
      }

      @include onSmallDesktop {
        grid-column: 9;
        grid-row: 4;
      }
    }

    &--position-4-10_11 {
      grid-column: 3 / 5;
      grid-row: 12;

      @include onTablet {
        grid-column: 3 / 5;
        grid-row: 8;
      }

      @include onSmallDesktop {
        grid-column: 10 / 12;
        grid-row: 4;
      }
    }

    &--position-4-12 {
      grid-column: 2;
      grid-row: 13;

      @include onTablet {
        grid-column: 5;
        grid-row: 8;
      }

      @include onSmallDesktop {
        grid-column: 12;
        grid-row: 4;
      }
    }

    &--position-4-13_14 {
      grid-column: 3 / 5;
      grid-row: 13;

      @include onTablet {
        grid-column: 6 / 8;
        grid-row: 8;
      }

      @include onSmallDesktop {
        grid-column: 13 / 15;
        grid-row: 4;
      }
    }

    &--position-4-15 {
      grid-column: 5;
      grid-row: 11;

      @include onTablet {
        grid-column: 8;
        grid-row: 8;
      }

      @include onSmallDesktop {
        grid-column: 15;
        grid-row: 4;
      }
    }



    //row-5
    &--position-5-1 {
      grid-column: 1;
      grid-row: 5;
    }

    &--position-5-2 {
      grid-column: 2;
      grid-row: 5;
    }

    &--position-5-3_4 {
      border-left: none;
      grid-column: 3 / 5;
      grid-row: 5;
    }

    &--position-5-5 {
      grid-column: 2;
      grid-row: 8;

      @include onTablet {
        grid-column: 5;
        grid-row: 5;
      }
    }

    &--position-5-6_7 {
      grid-column: 3 / 5;
      grid-row: 8;

      @include onTablet {
        grid-column: 6 / 8;
        grid-row: 5;
      }
    }

    &--position-5-8 {
      grid-column: 5;
      grid-row: 5;

      @include onTablet {
        grid-column: 8;
        grid-row: 5;
      }
    }

    &--position-5-9 {
      grid-column: 2;
      grid-row: 14;

      @include onTablet {
        grid-column: 2;
        grid-row: 9;
      }

      @include onSmallDesktop {
        grid-column: 9;
        grid-row: 5;
      }
    }

    &--position-5-10_11 {
      grid-column: 3 / 5;
      grid-row: 14;

      @include onTablet {
        grid-column: 3 / 5;
        grid-row: 9;
      }

      @include onSmallDesktop {
        grid-column: 10 / 12;
        grid-row: 5;
      }
    }

    &--position-5-12 {
      grid-column: 5;
      grid-row: 12;

      @include onTablet {
        grid-column: 5;
        grid-row: 9;
      }

      @include onSmallDesktop {
        grid-column: 12;
        grid-row: 5;
      }
    }

    &--position-5-13_14 {
      display: none;

      @include onTablet {
        display: block;
        grid-column: 6 / 8;
        grid-row: 9;
      }

      @include onSmallDesktop {
        grid-column: 13 / 15;
        grid-row: 5;
      }
    }

    &--position-5-15 {
      grid-column: 5;
      grid-row: 13;

      @include onTablet {
        grid-column: 8;
        grid-row: 9;
      }

      @include onSmallDesktop {
        grid-column: 15;
        grid-row: 5;
      }
    }



    //row 6
    &--position-6-1 {
      grid-column: 1;
      grid-row: 15;

      @include onTablet {
        grid-column: 1;
        grid-row: 10;
      }

      @include onSmallDesktop {
        grid-column: 1;
        grid-row: 6;
      }
    }

    &--position-6-2_3 {
      grid-column: 2 / 4;
      grid-row: 15;

      @include onTablet {
        grid-column: 2 / 4;
        grid-row: 10;
      }

      @include onSmallDesktop {
        grid-column: 2 / 4;
        grid-row: 6;
      }
    }

    &--position-6-4 {
      grid-column: 4;
      grid-row: 15;

      @include onTablet {
        grid-column: 4;
        grid-row: 10;
      }

      @include onSmallDesktop {
        grid-column: 4;
        grid-row: 6;
      }
    }

    &--position-6-5 {
      grid-column: 5;
      grid-row: 15;

      @include onTablet {
        grid-column: 5;
        grid-row: 10;
      }

      @include onSmallDesktop {
        grid-column: 5;
        grid-row: 6;
      }
    }

    &--position-6-6_7 {
      display: none;

      @include onTablet {
        display: block;
        grid-column: 6 / 8;
        grid-row: 10;
      }

      @include onSmallDesktop {
        grid-column: 6 / 8;
        grid-row: 6;
      }
    }

    &--position-6-8 {
      grid-column: 5;
      grid-row: 14;

      @include onTablet {
        grid-column: 8;
        grid-row: 10;
      }

      @include onSmallDesktop {
        grid-column: 8;
        grid-row: 6;
      }
    }

    &--position-6-9_10 {
      grid-column: 2 / 4;
      grid-row: 20;

      @include onTablet {
        grid-column: 2 / 4;
        grid-row: 13;
      }

      @include onSmallDesktop {
        grid-column: 9 / 11;
        grid-row: 6;
      }
    }

    &--position-6-11 {
      grid-column: 4;
      grid-row: 20;

      @include onTablet {
        grid-column: 4;
        grid-row: 13;
      }

      @include onSmallDesktop {
        grid-column: 11;
        grid-row: 6;
      }
    }

    &--position-6-12 {
      grid-column: 5;
      grid-row: 20;

      @include onTablet {
        grid-column: 5;
        grid-row: 13;
      }

      @include onSmallDesktop {
        grid-column: 12;
        grid-row: 6;
      }
    }

    &--position-6-13_14 {
      display: none;

      @include onTablet {
        display: block;
        grid-column: 6 / 8;
        grid-row: 13;
      }

      @include onSmallDesktop {
        grid-column: 13 / 15;
        grid-row: 6;
      }
    }

    &--position-6-15 {
      grid-column: 5;
      grid-row: 18;

      @include onTablet {
        grid-column: 8;
        grid-row: 13;
      }

      @include onSmallDesktop {
        grid-column: 15;
        grid-row: 6;
      }
    }



    //row-7
    &--position-7-1 {
      grid-column: 1;
      grid-row: 16;

      @include onTablet {
        grid-column: 1;
        grid-row: 11;
      }

      @include onSmallDesktop {
        grid-column: 1;
        grid-row: 7;
      }
    }

    &--position-7-2 {
      grid-column: 2;
      grid-row: 16;

      @include onTablet {
        grid-column: 2;
        grid-row: 11;
      }

      @include onSmallDesktop {
        grid-column: 2;
        grid-row: 7;
      }
    }

    &--position-7-3_4 {
      border-left: none;
      grid-column: 3 / 5;
      grid-row: 16;

      @include onTablet {
        grid-column: 3 / 5;
        grid-row: 11;
      }

      @include onSmallDesktop {
        grid-column: 3 / 5;
        grid-row: 7;
      }
    }

    &--position-7-5 {
      grid-column: 2;
      grid-row: 17;

      @include onTablet {
        grid-column: 5;
        grid-row: 11;
      }

      @include onSmallDesktop {
        grid-column: 5;
        grid-row: 7;
      }
    }

    &--position-7-6_7 {
      grid-column: 3 / 5;
      grid-row: 17;

      @include onTablet {
        grid-column: 6 / 8;
        grid-row: 11;
      }

      @include onSmallDesktop {
        grid-column: 6 / 8;
        grid-row: 7;
      }
    }

    &--position-7-8 {
      grid-column: 5;
      grid-row: 16;

      @include onTablet {
        grid-column: 8;
        grid-row: 11;
      }

      @include onSmallDesktop {
        grid-column: 8;
        grid-row: 7;
      }
    }

    &--position-7-9 {
      grid-column: 2;
      grid-row: 21;

      @include onTablet {
        grid-column: 2;
        grid-row: 14;
      }

      @include onSmallDesktop {
        grid-column: 9;
        grid-row: 7;
      }
    }

    &--position-7-10_11 {
      grid-column: 3 / 5;
      grid-row: 21;

      @include onTablet {
        grid-column: 3 / 5;
        grid-row: 14;
      }

      @include onSmallDesktop {
        grid-column: 10 / 12;
        grid-row: 7;
      }
    }

    &--position-7-12 {
      grid-column: 2;
      grid-row: 22;

      @include onTablet {
        grid-column: 5;
        grid-row: 14;
      }

      @include onSmallDesktop {
        grid-column: 12;
        grid-row: 7;
      }
    }

    &--position-7-13_14 {
      grid-column: 3 / 5;
      grid-row: 22;

      @include onTablet {
        grid-column: 6 / 8;
        grid-row: 14;
      }

      @include onSmallDesktop {
        grid-column: 13 / 15;
        grid-row: 7;
      }
    }

    &--position-7-15 {
      grid-column: 5;
      grid-row: 19;

      @include onTablet {
        grid-column: 8;
        grid-row: 14;
      }

      @include onSmallDesktop {
        grid-column: 15;
        grid-row: 7;
      }
    }



    //row-8
    &--position-8-1 {
      grid-column: 1;
      grid-row: 18;

      @include onTablet {
        grid-column: 1;
        grid-row: 12;
      }

      @include onSmallDesktop {
        grid-column: 1;
        grid-row: 8;
      }
    }

    &--position-8-2 {
      grid-column: 2;
      grid-row: 18;

      @include onTablet {
        grid-column: 2;
        grid-row: 12;
      }

      @include onSmallDesktop {
        grid-column: 2;
        grid-row: 8;
      }
    }

    &--position-8-3_4 {
      grid-column: 3 / 5;
      grid-row: 18;

      @include onTablet {
        grid-column: 3 / 5;
        grid-row: 12;
      }

      @include onSmallDesktop {
        grid-column: 3 / 5;
        grid-row: 8;
      }
    }

    &--position-8-5 {
      grid-column: 2;
      grid-row: 19;

      @include onTablet {
        grid-column: 5;
        grid-row: 12;
      }

      @include onSmallDesktop {
        grid-column: 5;
        grid-row: 8;
      }
    }

    &--position-8-6_7 {
      grid-column: 3 / 5;
      grid-row: 19;

      @include onTablet {
        grid-column: 6 / 8;
        grid-row: 12;
      }

      @include onSmallDesktop {
        grid-column: 6 / 8;
        grid-row: 8;
      }
    }

    &--position-8-8 {
      grid-column: 5;
      grid-row: 17;

      @include onTablet {
        grid-column: 8;
        grid-row: 12;
      }

      @include onSmallDesktop {
        grid-column: 8;
        grid-row: 8;
      }
    }

    &--position-8-9 {
      grid-column: 2;
      grid-row: 23;

      @include onTablet {
        grid-column: 2;
        grid-row: 15;
      }

      @include onSmallDesktop {
        grid-column: 9;
        grid-row: 8;
      }
    }

    &--position-8-10_11 {
      grid-column: 3 / 5;
      grid-row: 23;

      @include onTablet {
        grid-column: 3 / 5;
        grid-row: 15;
      }

      @include onSmallDesktop {
        grid-column: 10 / 12;
        grid-row: 8;
      }
    }

    &--position-8-12 {
      grid-column: 2;
      grid-row: 24;

      @include onTablet {
        grid-column: 5;
        grid-row: 15;
      }

      @include onSmallDesktop {
        grid-column: 12;
        grid-row: 8;
      }
    }

    &--position-8-13_14 {
      grid-column: 3 / 5;
      grid-row: 24;

      @include onTablet {
        grid-column: 6 / 8;
        grid-row: 15;
      }

      @include onSmallDesktop {
        grid-column: 13 / 15;
        grid-row: 8;
      }
    }

    &--position-8-15 {
      grid-column: 5;
      grid-row: 21;

      @include onTablet {
        grid-column: 8;
        grid-row: 15;
      }

      @include onSmallDesktop {
        grid-column: 15;
        grid-row: 8;
      }
    }



        //row-9
    &--position-9-1 {
      grid-column: 1;
      grid-row: 25;

      @include onTablet {
        grid-column: 1;
        grid-row: 16;
      }

      @include onSmallDesktop {
        grid-column: 1;
        grid-row: 9;
      }
    }

    &--position-9-2 {
      grid-column: 2;
      grid-row: 25;

      @include onTablet {
        grid-column: 2;
        grid-row: 16;
      }

      @include onSmallDesktop {
        grid-column: 2;
        grid-row: 9;
      }
    }

    &--position-9-3_4 {
      grid-column: 3 / 5;
      grid-row: 25;

      @include onTablet {
        grid-column: 3 / 5;
        grid-row: 16;
      }

      @include onSmallDesktop {
        grid-column: 3 / 5;
        grid-row: 9;
      }
    }

    &--position-9-5 {
      grid-column: 5;
      grid-row: 24;

      @include onTablet {
        grid-column: 5;
        grid-row: 16;
      }

      @include onSmallDesktop {
        grid-column: 5;
        grid-row: 9;
      }
    }

    &--position-9-6_7 {
      display: none;

      @include onTablet {
        display: block;
        grid-column: 6 / 8;
        grid-row: 16;
      }

      @include onSmallDesktop {
        grid-column: 6 / 8;
        grid-row: 9;
      }
    }

    &--position-9-8 {
      grid-column: 5;
      grid-row: 23;

      @include onTablet {
        grid-column: 8;
        grid-row: 16;
      }

      @include onSmallDesktop {
        grid-column: 8;
        grid-row: 9;
      }
    }

    &--position-9-9 {
      grid-column: 5;
      grid-row: 22;

      @include onTablet {
        display: none;
      }
      
      @include onSmallDesktop {
        display: block;
        grid-column: 9;
        grid-row: 9;
      }
    }

    &--position-9-10_11 {
      display: none;
      
      @include onSmallDesktop {
        display: block;
        grid-column: 10 / 12;
        grid-row: 9;
      }
    }

    &--position-9-12 {
      grid-column: 1;
      grid-row: 24;

      @include onTablet {
        display: none;
      }
      
      @include onSmallDesktop {
        display: block;
        grid-column: 12;
        grid-row: 9;
      }
    }

    &--position-9-13_14 {
      display: none;
      
      @include onSmallDesktop {
        display: block;
        grid-column: 13 /15;
        grid-row: 9;
      }
    }

    &--position-9-15 {
      grid-column: 1;
      grid-row: 22;

      @include onTablet {
        display: none;
      }

      @include onSmallDesktop {
        display: block;
        grid-column: 15;
        grid-row: 9;
      }
    }



    // Additionla fields
    &--position {
      @for $column from 1 to 25 {
        &-add-#{$column}-1 {

          @include onTablet {
            display: block;
            grid-column: 1;
            grid-row: #{$column};
          }
    
          @include onSmallDesktop {
            display: none;
          }
        }

        &-mob-#{$column}-1 {
          grid-column: 1;
          grid-row: #{$column};

          @include onTablet {
            display: none;
          }
        }
      }

      // &-add-7-1 {
      //   display: block;

      //   @include onTablet {
      //     grid-column: 1;
      //     grid-row: 7;
      //   }
  
      //   @include onSmallDesktop {
      //     display: none;
      //   }
      // }

      // &-add-8-1 {
      //   display: block;

      //   @include onTablet {
      //     grid-column: 1;
      //     grid-row: 8;
      //   }
  
      //   @include onSmallDesktop {
      //     display: none;
      //   }
      // }
    }
  }
}