@import '../utils/vars';
@import "../utils/mixins";

.top-page {
  z-index: 1;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include onTablet {
      flex-direction: row;
      column-gap: 1rem;
    }
  }

  &__text-block {
    max-width: 500px;
    min-width: 350px;
    width: 100%;
    position: relative;
    z-index: 2;

    box-shadow: 15px 70px 60px 45px #000000;

    @include onTablet {
      margin-top: 3rem;
      box-shadow: none;
    }

    @include onSmallDesktop {
      max-width: 600px;
    }
  }

  &__main-text {
    margin: 0;

    position: relative;
    display: inline-block;

    margin-bottom: 30px;

    font-family: $sugo-pro-display;
    color: $white-text-color;
    // font-size: 6.2rem;
    font-size: 3.5rem;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 4.2rem;
    letter-spacing: 6.6px;
    text-transform: uppercase;

    text-shadow: -1px -1px 0px #000000,
      3px 3px 0px #000000,
      4px 4px 0px #808080;

    @include onSmallDesktop {
      font-size: 5.6rem;
      line-height: 6rem;
    }
    

    &--yellow {
      color: $main-yellow-text-color;
    }
  }

  &__sub-text {
    padding: 0;
    margin-bottom: 70px;

    font-family: $fira-code;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.2px;
    color: $white-text-color;
  }

  &__button {
    padding: 1.6rem 4.5rem;

    background: url('../../images/button.svg');
    background-size: cover;
    background-position: center;

    border: none;

    font-family: $fira-code;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.44px;

    cursor: pointer;

    &:hover {
      color: $white-text-color;
      padding: 1.6rem 4.5rem;

      background: url('../../images/button_hover.svg');
      background-size: cover;
      background-position: center;
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    column-gap: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @include onTablet {
      grid-template-columns: repeat(1, 320px);
    }

    @include onSmallDesktop {
      // margin-right: -10rem;
      margin-left: 15rem;
    }

    @include onDesktop {
      margin-left: 0;
      margin-right: -10rem;
    }
  }
}

.column {
  display: grid;
  grid-template-columns: repeat(2, 320px);
  column-gap: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include onTablet {
    grid-template-columns: repeat(1, 320px);
  }

  @include onSmallDesktop {
    // margin-right: -10rem;
    margin-left: 15rem;
  }

  @include onDesktop {
    overflow: hidden;
    // margin-left: 10rem;
    margin-right: -10rem;
  }

  &-1 {

    @include onTablet {
      // position: absolute;
      // flex: 1 0 100%;
      margin-top: -6rem;
      grid-column: 1;

      z-index: 0;
    }

    @include onSmallDesktop {
      position: absolute;
    }
  }

  &-2 {
    margin-top: 25px;
    grid-column: 2;

    @include onTablet {
      display: none;
    }

    @include onSmallDesktop {
      display: block;
    }
  }
}

.our-client {
  block-size: border-box;

  @include onTablet {
    margin-top: 2rem;
  }

  &__content {
    position: relative;
    margin-top: -1rem;

    padding: 1.5rem 1.2rem;
    background-color: $gray-color;

    &::after {
      z-index: 5;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      box-shadow: 1rem -50px 40px 20px #000000;
    }

    @include onTablet {
      margin: 0 1rem;
      margin-top: -8rem;
      position: relative;
      z-index: 10;
      

      &::after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: 16rem -50px 60px #000000;
      }
    }

    @include onSmallDesktop {
      padding: 2.5rem 4.5rem;
      margin: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 1.5rem;

    font-family: $sugo-pro-display;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: $white-text-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__block-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 2rem;
    align-items: center;


    @include onTablet {
      justify-content: center;
      column-gap: 1rem;
      align-items: center;
    }

    @include onSmallDesktop {
      justify-content: space-between;
    }
  }

  &__img {
    max-width: 8rem;
    width: 100%;
    height: 4rem;
  }

  &__left-tape {
    display: none;

    @include onTablet {
      display: block;
      position: absolute;
      top: -1.5rem;
      left: -1.5rem;
    }
  }

  &__right-tape {
    display: none;

    @include onTablet {
      display: block;
      z-index: 2;
      position: absolute;
      top: -1.5rem;
      right: -1.5rem;
    }
  }
}
