@import "../../../styles/utils/vars";
@import "../../../styles/utils/mixins";

.card {
  box-sizing: border-box;
  max-width: 250px;
  padding: 15px 20px;
  width: 100%;
  height: max-content;
  margin-bottom: .5rem;

  background: url('../../../images/cart_bg.svg');
  background-size: cover;
  background-position: center;

  @include onBigTablet {

  }

  @include onSmallDesktop {
    max-width: 390px;
    padding: 1rem 1.8rem;
  }

  @include onBigDesktop {
    max-width: 390px;
  }

  &--1 {
    display: block;
  }

  &--2 {
    display: block;
  }

  &--3 {
    display: block;
  }

  &--4 {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &--5 {
    display: none;


    @include onTablet {
      display: block;
    }
  }

  &--6 {
    display: none;

    @include onSmallDesktop {
      display: block;
    }

  }

  //column-2
  &--7 {
    display: block;
  }

  &--8 {
    display: block;
  }

  &--9 {
    display: block;
  }

  &--10 {
    display: none;

    @include onBigTablet {
      display: block;
    }
  }

  &--11 {
    display: none;

    @include onBigTablet {
      display: block;
    }
  }


  &__avatar {
    width: 35px;
    // height: 4.5rem;

    @include onSmallDesktop {
      width: 56px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;

    margin-bottom: 20px;

    box-sizing: border-box;
  }

  &__bottom {
    display: flex;
    column-gap: 5px;

    box-sizing: border-box;

    @include onSmallDesktop {
      column-gap: 10px;
    }
  }

  &__detail {
    display: inherit;
    flex-direction: column;
    width: 100%;

    color: $white-text-color;

    &-top {
      display: inherit;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: 12px;

      @include onBigTablet {
        margin-bottom: 10px;
      }
    }

    &-bottom {
      font-family: $fira-code;
    }
  }

  &__name {
    margin: 0;

    font-family: $sugo-pro-display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;

    @include onBigTablet {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.08px;
    }

    @include onSmallDesktop {
      font-size: 24px;
      letter-spacing: 1.92px;
    }
  }

  &__rate {
    margin: 0;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;

    @include onBigTablet {
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.08px;
    }

    @include onSmallDesktop {
      font-size: 20px;
    }
  }

  &__position {
    margin: 0;
    margin-bottom: 6px;

    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.52px;
    text-transform: uppercase;

    @include onSmallDesktop {
      font-size: 13px;
    }
  }

  &__experience {
    margin: 0;

    color: $pink-text-color;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.52px;


    @include onSmallDesktop {
      font-size: 13px;
      letter-spacing: 0.52px;
    }
  }

  &__skill {
    padding: 5px;
    border: 1px dashed $main-yellow-text-color;

    color: $white-text-color;
    font-family: $fira-code;
    font-size: .5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;

    @include onBigTablet {
      font-size: 7px;
      letter-spacing: 0.42px;
    }

    @include onSmallDesktop {
      padding: 8px;

      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.6px;
    }
  }
}