@import "../../../utils/vars";
@import "../../../utils/mixins";

.logo {
  width: 200px;
  height: 4.5rem;
}

.header {
  z-index: 2;
  position: relative;
  background-color: transparent;

  @include onTablet {
    box-shadow: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;
    padding-top: 18px;

  }

  &__menu-img {
    cursor: pointer;
  }

  &__left-block {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  &__menu {
    &-right {
      display: block;
    
      @include onTablet {
        display: none;
      }
    }

    &-left {
      display: none;

      @include onTablet {
        display: block;
      }

      @include onSmallDesktop {
        display: none;
      }
    }
  }

  &__right-block {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    column-gap: 40px;
    margin-right: 50px;
  }

  &__nav-link {
    color: $main-yellow-text-color;
    font-family: Fira Code;
    font-size: 1.1rem;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    letter-spacing: 0.4px;
  }

  &__button {
    display: none;

    @include onTablet {
      display: block;
      padding: .6rem 1.5rem;

      border: 2px solid $sub-yellow-text-color;
      background-color: transparent;

      font-family: "Fira Code";
      color: #F7E439;
      text-align: center;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: $sub-yellow-text-color;
        color: $dark-text-color;
      }
    }
  }

  &__button-pocketbook {
    display: none;

    @include onTablet {
      display: block;
      padding: .6rem 1.5rem;

      border: 2px solid $sub-yellow-text-color;
      background-color: $sub-yellow-text-color;

      font-family: "Fira Code";
      color: $dark-text-color;
      text-align: center;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        color: #F7E439;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 30%;

    width: 60vw;
    background-image: linear-gradient(90deg, #ffffff 0%, #000000 60%, #00d4ff 100%);
  }
}
