@import "utils/vars";
@import "utils/_mixins";
@import "fonts";

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: "Fira Code", "Sugo Pro Display", "Sugo Pro Classic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: "Fira Code", "Sugo Pro Display", "Sugo Pro Classic",
    monospace;
}

.page {
  position: relative;
}

.container {
  max-width: 1350px;
  margin: 0 auto;

  &--our-clients {
    position: relative;
    z-index: 1;
    max-width: 1350px;
    margin: 0 auto;
  }
}

.main {
  &__page-title {
    margin: 0;

    color: $main-yellow-text-color;
    font-family: $sugo-pro-display;
    font-size: 6.2rem;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2rem;
    letter-spacing: 6.6px;
    text-transform: uppercase;
  }
}
