@import "../../styles/utils/vars";
@import "../../styles/utils/mixins";

.page-title-about-us {
  margin: 0;
  position: relative;
  display: inline-block;


  font-family: $sugo-pro-display;
  color: $white-text-color;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 100% */
  letter-spacing: 3.12px;
  text-transform: uppercase;

  text-shadow: -1px -1px 0px #000000,
    1.5px 1.5px 0px #000000,
    2px 2px 0px #808080;

  @include onBigTablet {
    font-size: 70px;
    line-height: 70px; /* 100% */
    letter-spacing: 4.2px;

  }

  @include onSmallDesktop {
    font-size: 5.6rem;
    line-height: 6rem;
    text-shadow: -1px -1px 0px #000000,
      1.5px 1.5px 0px #000000,
      2px 2px 0px #808080;
  }
  

  &--yellow {
    color: $main-yellow-text-color;
  }

  &--pink {
    color: $pink2-text-color;
  }
}

.about-us-top {
  &__block {
    display: flex;
    flex-direction: column;
    column-gap: 70px;
    align-items: center;
    justify-content: center;

    @include onSmallDesktop {
      flex-direction: row;
    }
  }

  &__main-text {
    &--position {
      margin-bottom: 26px;
    }
  }

  &__text-block {
    max-width: 750px;
    width: 100%;
  }

  &__sub-text {
    font-size: .95rem;
    line-height: 26px; /* 173.333% */
    letter-spacing: 0.6px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 40px;

    @include onBigTablet {
      margin-bottom: 70px;

      font-size: 1.15rem;
      line-height: 27px; /* 150% */
      letter-spacing: 1.2px;
    }
  }

  &__img-block {
    box-sizing: border-box;

    max-width: 550px;
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // margin-top: 30px;
    padding: 40px;

    // padding: 4rem;
    // padding-left: 8rem;

    background-image: url('../../images/about-us_block_img.png');
    background-size: 100% 100%;

    @include onSmallDesktop {
      padding: 70px 0;
    }
  }

  &__main-contact-text {
    margin: 0;
    margin-bottom: 40px;
    font-family: $sugo-pro-display;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    text-transform: uppercase;

    @include onSmallDesktop {
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 3.6px;
      text-transform: uppercase;
    }
  }

  &__contact-field {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__contact-block {
    display: flex;
    align-items: center;

    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__contact-title {
    margin: 0;
    margin-bottom: 15px;

    color: $pink2-text-color;
    font-family: Fira Code;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
    letter-spacing: 1.44px;

    &--blue {
      color: $blue-text-color;
    }
  }

  &__contact-img {
    width: 28px;
  }

  &__contact-text {
    margin-left: 7px;

    color: $lightgray-text-color;
    font-family: Fira Code;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 450;
    line-height: 36px; /* 163.636% */
    letter-spacing: 1.32px;
  }
}

.about-us-main {
  &__content {
    padding-top: 100px;

    @include onSmallDesktop {
      padding-top: 170px;
    }
  }

  &__main-text {
    &--position {
      margin-bottom: 80px;
    }
  }

  &__text-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    margin-bottom: 100px;

    @include onBigTablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 70px;
      margin-bottom: 100px;
    }
  }

  &__country-block {
    display: flex;
    align-items: center;

    margin-bottom: 35px;
  }

  &__city-container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__country-img {
    width: 30px;
    margin-right: 15px;
  }

  &__country {
    margin-top: 5px;

    color: $pink2-text-color;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 115.385% */
    letter-spacing: 1.56px;

    &--blue {
      color: $blue-text-color;
    }
  }

  &__city {
    margin: 0;
    margin-bottom: 15px;

    color: $white-text-color;
    font-family: Fira Code;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 173.333% */
    letter-spacing: 0.9px;

    @include onSmallDesktop {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px; /* 125% */
      letter-spacing: 1.44px;
    }
  }

  &__address {
    color: #808080;
    font-family: Fira Code;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 1.2px;

    @include onSmallDesktop {
      font-size: 20px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
  }

  &__world-img {
    width: 95%;
    margin: 0 auto;
  }
}