@import "../../../../styles/utils/vars";
@import "../../../../styles/utils/mixins";

.slider-projects {
  display: flex;
  column-gap: 24px;

  margin-bottom: 2rem;

  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  @include onBigTablet {
    column-gap: 12px;
  }

  @include onSmallDesktop {
    margin-bottom: 50px;
  }

  &__block {
    display: block;
    flex: 1 0 100%;
    text-decoration: none;

    @include onSmallDesktop {
      flex: 0;
      width: 700px;
      height: 100%;
    }

    @include onBigDesktop {
      width: 890px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    height: max-content;

    padding: 25px;

    background: url('../../../../images/projects_bg.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // background-position: center center;

    @include onTablet {
      box-sizing: border-box;
      padding: 4rem 50px;
      // background-size: contain;
    }

    @include onSmallDesktop {
      width: 700px;
      padding: 0 70px;
      padding-top: 100px;
      padding-bottom: 70px;
    }

    @include onDesktop {
      width: 850px;
      padding: 100px 0;
    }
  }

  &__type-info {
    margin-top: 0;
    margin-bottom: 70px;

    color: $main-yellow-text-color;
    font-family: $fira-code;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.78px;
    text-transform: uppercase;

    @include onSmallDesktop {
      margin-bottom: 75px;

      font-size: 17px;
      letter-spacing: 1.02px;
    }

    @include onBigDesktop {
      margin-bottom: 120px;

      font-size: 24px;
      letter-spacing: 1.44px;
    }
  }

  &__company-img {
    width: 170px;
    margin-bottom: 70px;

    @include onTablet {
      margin-bottom: 5rem;
    }

    @include onSmallDesktop {
      margin-bottom: 110px;
      width: 240px;
    }

    @include onBigDesktop {
      width: 330px;
      margin-bottom: 140px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    flex-wrap: wrap;
    row-gap: 12px;

    @include onBigTablet {
      column-gap: 12px;
    }
  }

  &__direction {
    block-size: border-box;
    padding: 7px;
    border: 1px dashed $pink-text-color;

    color: $white-text-color;
    font-family: $fira-code;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;

    @include onSmallDesktop {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.9px;
    }

    @include onBigDesktop {
      padding: 10px 14px;
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 1.26px;
    }
  }
}