@import "../../utils/vars";
@import "../../utils/mixins";

.portfolio-top {
  &__content {
    margin-bottom: 60px;
  }

  &__list {
    &--position {
      margin-bottom: 50px;
    }
  }

  &__main-text {
    &--position {
      margin-bottom: 10px;
    }
  }

  &__text-block {
    max-width: 650px;
  }

  &__filter-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      display: flex;
      flex-direction: row;
      column-gap: 40px;
    }

    &__right {
      display: flex;
      column-gap: 30px;
    }

    &__title {
      margin-right: 7px;

      color: $pink-text-color;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 1.68px;
    }

    &__img {
      width: 17px;
    }
  }

  &__button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.5px solid $violet-text-color;

    color: #808080;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;

    cursor: pointer;

    &:hover {
      background-color: $violet-text-color;
      color: $white-text-color;
    }

    &--violet {
      background-color: $violet-text-color;
      color: $white-text-color;

      &:hover {
        background-color: #6924c8;
      }
    }
  }
}

.portfolio-main {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }

  &__project {
    box-sizing: border-box;
    width: 650px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 35px;
    padding-bottom: 30px;

    text-decoration: none;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url('../../../images/portfolio_pocketbok_img.png');
    background-repeat: no-repeat;
    background-size: contain;

    &__title {
      color: $main-yellow-text-color;
      font-family: $fira-code;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.44px;
      text-transform: uppercase;
    }

    &__img {
      width: 300px;
    }
  }
}